{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "extends:react-app"
  ],
  "plugins": [
    "import",
    "react",
    "jsx-a11y"
  ],
  "env": {
    "mocha": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "strict": 2
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}