{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "env": {
    "mocha": true,
    "es6": true
  },
  "rules": {
    "strict": 2
  }
}