html {
  font-size: 10px;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  font-family: 'Open sans';
}

button,
input,
select {
  outline: none;
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 1.8rem;
  }
}
