@import './variables.scss';

.navbar {
  .home {
    &__nav {
      .link {
        text-decoration: none;
        color: map-get($colors, dark-grey);

        &--avatar {
          background: #c1c5d2;
          height: 2.5rem;
          width: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;

          img {
            height: 1.2rem;
            width: 1.2rem;
          }
        }
      }

      &--top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        background-color: map-get($colors, plain-white);
        width: calc(100% - 2rem);
        top: 0;
        left: 0;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
        padding: 1rem;
        z-index: 5;
      }

      &--bottom-nav {
        position: fixed;
        height: calc(100% - 4rem);
        background-color: map-get($colors, plain-white);
        width: calc(100% - 2rem);
        left: 0;
        top: 0;
        padding: 2rem 1rem;
        display: none;
        z-index: 5;
      }

      &--student-nav {
        display: none;
        &__options {
          display: flex;
          flex-direction: column;
          height: 100vh;
          align-items: center;
          justify-content: space-evenly;
          position: fixed;
          z-index: 5;
          width: 100%;
          background: white;
          top: 0;

          a {
            text-decoration: none;
            color: #494e65;
            font-weight: bold;
          }

          .log-out {
            height: 3rem;
            width: 9rem;
            background: #eb353c;
            border: 1px solid #eb353c;
            color: white;
            font-size: 1rem;
            border-radius: 0.2rem;
            letter-spacing: 0.05rem;
          }
        }
      }

      .logo {
        font-family: $cookie;
        font-size: 2.4rem;
        color: #a49393;
        margin: 0;
      }

      .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.25rem;
        height: 2rem;
        width: 2rem;
        cursor: pointer;

        &__item {
          display: flex;
          height: 0.5rem;
          width: 0.5rem;
          border: 0.2rem solid map-get($colors, dark-grey);
          border-radius: 0.25rem;
        }
      }
    }
  }

  .nav-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .auth {
    &__nav {
      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem;
        height: 4rem;
        position: fixed;
        width: calc(100% - 2rem);
        top: 0;
        background: map-get($colors, plain-white);
        z-index: 5;
      }

      .back-btn {
        height: 3rem;
        width: 3rem;
        background: map-get($colors, dark-grey);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }

      .home-btn {
        font-size: 1.4rem;
        font-weight: 900;
        text-decoration: none;
        color: map-get($colors, dark-grey);
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .navbar {
    .auth {
      &__nav {
        &__wrapper {
          width: 50%;
          top: 7.2rem;
          position: absolute;
        }

        &--left-sided {
          left: 46%;
        }

        &--right-sided {
          left: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .navbar {
    .home {
      &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 10rem);
        padding: $tablet;
        height: 5rem;
        box-shadow: unset;
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        background: map-get($colors, plain-white);
        font-size: 1.3rem;
        box-shadow: 0px 0px 2px 1px #c1c5d2;

        &--top-nav {
          box-shadow: unset;
          background-color: unset;
          width: unset;
          height: unset;
          position: unset;
          z-index: unset;
          display: unset;
          padding: unset;
        }

        &--bottom-nav {
          display: flex;
          flex-direction: row;
          height: unset;
          width: 31rem;
          margin-right: 1rem;
          background-color: unset;
          position: unset;
          padding: unset;
        }

        &--student-nav {
          display: unset;
          &__options {
            display: flex;
            flex-direction: row;
            width: 35rem;
            align-items: center;
            justify-content: space-between;
            height: unset;
            top: unset;
            position: unset;
          }
        }

        .menu {
          display: none;
        }
      }
    }

    .nav-options {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    .home {
      &__nav {
        height: 9rem;
        font-size: 1.6rem;
        width: calc(100% - 20rem);
        padding: $laptop;

        &--bottom-nav {
          width: 38rem;
          margin-right: 1rem;
        }
      }
    }

    .auth {
      &__nav {
        .home-btn {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    .home {
      &__nav {
        .link {
          &--avatar {
            height: 3rem;
            width: 3rem;

            img {
              height: 1.5rem;
              width: 1.5rem;
            }
          }
        }
        &--bottom-nav {
          width: 57rem;
          margin-right: 2rem;
        }

        &--student-nav {
          &__options {
            .log-out {
              height: 3.5rem;
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .navbar {
    .home {
      &__nav {
        &--student-nav {
          &__options {
            width: 45rem;
          }
        }
      }
    }
    .auth {
      &__nav {
        &__wrapper {
          width: calc(100% - 35% - 15rem);
        }
        &--left-sided {
          left: calc(35% + 7.5rem);
        }
        &--right-sided {
          left: 7.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .navbar {
    .home {
      &__nav {
        padding: $desktop;
        width: 70%;
      }
    }
  }
}
