.link-card {
  height: 35rem;
  margin: 1rem 0;
  box-sizing: border-box;
  background-image: url('../assets/capped.jpg');
  background-position: center;
  background-size: cover;

  &__wrapper {
    padding: 2rem;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.45);

    &__content {
      display: flex;
      height: 100%;
      position: relative;

      .animated-bground {
        border: 1px solid white;
        position: absolute;
        height: 100%;
      }

      .text-box {
        margin-left: 2rem;
        color: white;
        letter-spacing: 0.02rem;
        box-sizing: border-box;
        padding: 2rem 0;

        .info {
          margin: 3rem 0;
        }
        .btns-div {
          margin-top: 3rem;
        }

        .link-btns {
          display: flex;
          height: 3.5rem;
          width: 15rem;
          border: 1px solid white;
          color: white;
          text-decoration: none;
          align-items: center;
          justify-content: center;
          margin: 2rem 0;
          border-radius: 0.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .link-card {
    height: 30rem;

    &__wrapper {
      &__content {
        .text-box {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          h3 {
            font-size: 2rem;
            margin: 0;
          }
          .btns-div {
            display: flex;
            justify-content: space-between;
          }
          .info {
            margin: 0;
            font-size: 1.3rem;
          }
          .link-btns {
            margin: 0;
            font-size: 1rem;
            width: 10rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .link-card {
    &__wrapper {
      &__content {
        .text-box {
          .link-btns {
            width: 13.5rem;
          }
        }
      }
    }
  }
}
