.student-dash {
  background-color: map-get($colors, background-grey);
}

@media screen and (min-width: 1000px) {
  .student-dash {
    &__wrapper {
      display: grid;
      grid-template-columns: auto 30rem;
      grid-template-areas: 'a b';
      grid-gap: 1rem;

      .student-data {
        grid-area: a;
      }
      .student-notification {
        grid-area: b;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .student-dash {
    &__wrapper {
      grid-template-columns: 25rem auto 30rem;
      grid-template-areas: 'a b c';
      .student-data {
        grid-area: b;
      }
      .student-notification {
        grid-area: c;
      }
    }
  }
}
