$mobile: 0 1rem;
$tablet: 0 5rem;
$laptop: 0 10rem;
$desktop: 0 15%;

$colors: (
  logo-brown: #a49393,
  text-brown: #5e4f4f,
  faded-grey: #8c92ac,
  cool-grey: #5c6380,
  dark-grey: #494e65,
  light-grey: #c1c5d2,
  filtered-grey: rgba(73, 78, 101, 0.8),
  bluish-grey: #717999,
  plain-white: #ffffff,
  dull-grey: #dcdee6,
  danger: #eb353c,
);

$cookie: 'Cookie';
